<html>
<head>
<style>
img {
    vertical-align:middle;
}
table {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
}
td
{
    height: 80px; 
    text-align:center; 
    vertical-align: middle;
}

.user_requested
{
    outline-color: red;
    outline-style: dashed;
    outline-width: thin;
}

</style>
</head>
<body>
<table>
    <tr>
    <th>Item</th>
    <th>Rate (#/minute)</th>
    <th>Production</th>
    <th>Consumers</th>
    <th>Suppliers</th>
    </tr>
    {% for product in products %}
    <tr {% if product.is_user_requested %}class="user_requested"{% endif %}>
        <td id="{{ product.name }}">
            <a href="{{ product.url }}"><img src="/factorio-icons/{{ product.icon }}" alt="{{ product.username }}" 
            title="{{ product.username }}"></a>
        </td>
        <td>{{ product.required_production_rate }}</td>
        <td>
        {% if product.num_production_machines_required is not none %}
            {{ product.num_production_machines_required }}
        {% endif %}

        {% if product.num_production_machines_required is not none %}
            <a href="{{ product.production_machine_url }}"><img src="/factorio-icons/{{ product.production_machine_icon }}"
                            alt="{{ product.production_machine_username }}"
                            title="{{ product.production_machine_username }}"></a>
        {% endif %}
        </td>
        <td>
        {% for consumer, rate in product.consumers.items() %}
            <span>
                {% if consumer is none %}
                <img src="/img/you.png" alt="You" title="You">
                {% else %}
                <a href="#{{ consumer.name }}"><img src="/factorio-icons/{{ consumer.icon }}" alt="{{ consumer.username }}"
                title="{{ consumer.username }}"></a>
                {% endif %}
                {{ rate }}
            </span>
        {% endfor %}
        </td>
        <td>
        {% for supply, rate in product.suppliers.items() %}
            <span>
                <a href="#{{ supply.name }}"><img src="/factorio-icons/{{ supply.icon }}" 
                alt="{{ supply.username }}" title="{{ supply.username }}"></a> {{ rate }}
            </span>
        {% endfor %}
        </td>
    <tr>
    {% endfor %}
</table>
</body>
</html>