<html>
<head>
<style>
img {
    vertical-align:middle;
}
table {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
}
td
{
    height: 80px; 
    text-align:center; 
    vertical-align: middle;
}

.user_requested
{
    outline-color: red;
    outline-style: dashed;
    outline-width: thin;
}

</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>

<table>
    {% for selected_item in selected_items %}
    <div class="rate-selector">
    <select name="select">
      {% for item in items_to_produce %}
        <option value="{{ item.name }}" {% if item.name == selected_item.name %}selected{% endif %}>{{ item.username }}</option>
      {% endfor %} 
    </select>
    <label><input name="rate" type="number" placeholder="1" required="yes" value="{{ selected_item.rate }}" min="0" max="10000" step="1"> /minute</label>
    <input class="remove" type="button" value="Remove" />
    </div>
    {% endfor %}

    <div class="rate-selector">
    <select name="select">
      <option value="" selected></option>
      {% for item in items_to_produce %}
        <option value="{{ item.name }}">{{ item.username }}</option>
      {% endfor %} 
    </select>
    <label><input name="rate" type="number" placeholder="1" required="yes" value="1" min="0" max="10000" step="1"> /minute</label>
    </div>

    <input class="change" type="button" value="Update" />
<script>
$( ".remove" ).click(function() {
    var selector = $(this).closest(".rate-selector");

    selector.slideUp("fast", function() { selector.remove(); });
});

$( ".change" ).click(function() {
    var o = {}
    $( ".rate-selector" ).each(function() {
        if ($(this).find( "option:selected").val()) {
            o[$(this).find( "option:selected").val()] = $(this).find( "input[name=rate]").val();
        }
    });
    $(location).attr('href','?' + $.param(o));
});
</script>

    <tr>
    <th>Item</th>
    <th>Rate (#/minute)</th>
    <th>Production</th>
    <th>Consumers</th>
    <th>Suppliers</th>
    </tr>
    {% for product in products %}
    <tr {% if product.is_user_requested %}class="user_requested"{% endif %}>
        <td id="{{ product.name }}">
            <a href="{{ product.url }}"><img src="{{ product.icon }}" alt="{{ product.username }}" 
            title="{{ product.username }}"></a>
        </td>
        <td>{{ product.required_production_rate }}</td>
        <td>
        {% if product.num_production_machines_required is not none %}
            {{ product.num_production_machines_required }}
        {% endif %}

        {% if product.num_production_machines_required is not none %}
            <a href="{{ product.production_machine_url }}"><img src="{{ product.production_machine_icon }}"
                            alt="{{ product.production_machine_username }}"
                            title="{{ product.production_machine_username }}"></a>
        {% endif %}
        </td>
        <td>
        {% for consumer, rate in product.consumers.items() %}
            <span>
                {% if consumer is none %}
                <img src="/img/you.png" alt="You" title="You">
                {% else %}
                <a href="#{{ consumer.name }}"><img src="{{ consumer.icon }}" alt="{{ consumer.username }}"
                title="{{ consumer.username }}"></a>
                {% endif %}
                {{ rate }}
            </span>
        {% endfor %}
        </td>
        <td>
        {% for supply, rate in product.suppliers.items() %}
            <span>
                <a href="#{{ supply.name }}"><img src="{{ supply.icon }}" 
                alt="{{ supply.username }}" title="{{ supply.username }}"></a> {{ rate }}
            </span>
        {% endfor %}
        </td>
    <tr>
    {% endfor %}
</table>
</body>
</html>